<ul class="nav nav-justified">
    <li class="active"><a ui-sref="menu01_item01" ui-sref-opts="{reload:true}">首页</a></li>
    <li><a ui-sref="menu02_item01" ui-sref-opts="{reload:true}">000222</a></li>
    <li><a ui-sref="menu03_item01" ui-sref-opts="{reload:true}">000333</a></li>
    <li><a ui-sref="menu04_item01" ui-sref-opts="{reload:true}">000444</a></li>
    <li><a ui-sref="menu05_item01" ui-sref-opts="{reload:true}">000555</a></li>
    <li><a ui-sref="menu06_item01" ui-sref-opts="{reload:true}">000666</a></li>
</ul>