<div class="row">
    <div class="col-lg-12 col-xs-12">
        <ul class="nav nav-pills">
            <li class="active"><a ui-sref="menu01" ui-sref-opts="{reload:true}">首页</a></li>            
            <li><a ui-sref="menu02" ui-sref-opts="{reload:true}">000222</a></li>            
            <li><a ui-sref="menu03" ui-sref-opts="{reload:true}">000333</a></li>            
            <li><a ui-sref="menu04" ui-sref-opts="{reload:true}">000444</a></li>            
            <li><a ui-sref="menu05" ui-sref-opts="{reload:true}">000555</a></li>            
            <li><a ui-sref="menu06" ui-sref-opts="{reload:true}">000666</a></li>            
        </ul>
    </div>
</div>
