<footer class="home-footer">
      <!-- 友情链接 -->
              <div class="flink-container">
            <div class="box-title-flink"><span>友情链接</span></div>
            <div class="index-box-flink">
              <div class="index-box-panel">
                <a target="_blank" href="https://www.batiaoyu.com/" title="八条鱼理财">理财产品</a>
                <a target="_blank" href="http://bbs.changjiudai.com/">P2P理财</a>
                <a target="_blank" href="http://www.xinhuadazong.cc" title="东北亚北方商品交易中心">亚商所</a>
                <a target="_blank" href="http://www.ysemm.cn/sitemap.html">网站地图</a>
              <div class="flink-line"></div>
              </div>
              <div class="index-box-panel">
                <a target="_blank" href="http://www.nongjindata.com">互联网金融</a>
                <a target="_blank" href="http://www.chinappp.cn/">中国PPP服务平台</a>
                <a target="_blank" href="http://www.ysemm.cn/a/aboutus/">PPP项目投资推荐</a>
                <a target="_blank" href="http://www.ysemm.cn/a/aboutus/">政府项目融资平台</a>
              <div class="flink-line"></div>
              </div>
              <div class="index-box-panel">
                <a target="_blank" href="http://www.ysemm.cn/a/cooperation/">PPP项目资金合作</a>
                <a target="_blank" href="http://www.ysemm.cn/a/cooperation/">政府项目合作</a>
                <a target="_blank" href="http://www.ysemm.cn/a/cooperation/">政府融资</a>
                <a target="_blank" href="http://www.ysemm.cn/tags.php">网站标签</a>
              <div class="flink-line"></div>
              </div>
              <div class="index-box-panel">
                <a target="_blank" href="http://www.chinatzlt.org.cn/">中国投资论坛</a>
                <a target="_blank" href="http://www.ysemm.cn/a/contactus/">PPP项目融资</a>
                <a target="_blank" href="http://www.ysemm.cn/a/contactus/">政府平台引资</a>
                <a target="_blank" href="http://www.ysemm.cn/a/regionalagency/">省级代理人</a>
              <div class="flink-line"></div>
              </div>
              <div class="index-box-panel">
                <a target="_blank" href="http://www.wuyabuluo.com">乌鸦部落</a>
                <a target="_blank" href="http://www.ysemm.cn/a/regionalagency/">区域代理</a>
                <a target="_blank" href="http://www.ysemm.cn/news/">融资资讯</a>
                <a target="_blank" href="http://www.youzhan.org/">Bootstrap优站精选</a>
              </div>
            </div>
          </div>
  <div class="footer">
    <div class="show-rz">
      <p>
        <a id="_pingansec_bottomimagelarge_p2p" href="http://si.trustutn.org/info?sn=321170316000571380559&amp;certType=4"><img class="zqrz" src="/templets/newysemmcn/images/netverify.jpg" alt="已通过互联网金融行业认证"></a>
        <a href="http://webscan.360.cn/index/checkwebsite/url/www.ysemm.cn"><img src="/templets/newysemmcn/images/360verify.jpg" alt="已通过360网站安全检测"></a>
      </p>
    </div>
    <p>Copyright © 2015 - 2017 Ysemm. All Rights Reserved</p>
    <p>
      <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank" rel="nofollow">备案号：粤ICP备15071992号-1</a>
    </p>
  </div>


</footer>