/* app css stylesheet */

.header{
  background-color: white;
  height: 60px;
}
.topMenus{
  background-color: white;
  height: 25px;
}
.banner{
  background-color: white;
  height: 250px;
}
.contain{
  height: 600px;
  width: 100%;
}
.leftMenus{
  background-color: white;
  width: 30%;
  height: 600px;
  float: left;
}
.content{
  background-color: white;
  width: 70%;
  float: left;
  height: 600px;
}
.footer{ 
  background-color: white;
  height: 300px;
  width: 100%;
}
