/* app css stylesheet */

/*common style*/
body{

}
.container {
    width: 1170px;
}

.header {
    background-color: white;
    height: 60px;
    margin-top: 5px;
}

.topMenus {
    background-color: #34A344;
    height: 30px;
}

.topMenus a{
    display: block;
    color: #FFF;
    font-size: 15px;
    width: 100%;
}

.nav-justified li a span {
    background: url(../images/topMenus/stroke_nav.gif) no-repeat 100% 50%;
    display: block;
    width: 100%;
    text-align: center;
}
.nav-justified li a:hover span,.nav-justified li a:hover {
    background: #0D6C29 100% 50%;
}
.nav-justified li a:focus span,.nav-justified li a:focus {
    background: #0D6C29 100% 50%;
}
.banner {
    background-color: white;
    height: 250px;
}

.contain {
    height: 600px;
    width: 100%;
    margin-top: 20px;
}

.leftMenus {
    background-color: white;
    width: 30%;
    height: 600px;
    float: left;
}

.content {
    background-color: #ececec;
    width: 70%;
    float: left;
}

.footer {
    background-color: white;
    height: 300px;
    width: 100%;
}

.nav-justified>li>a {
    padding: 4px 5px;
}

.navLeftMenu {
    width: 220px;
    margin-left: 110px;
}

.navLeftMenu>li>a {
    padding: 5px 10px;
}

.navLeftMenu>li>a:hover,
.navLeftMenu>li>a:focus {
    color: #fff;
    background-color: #48ce7c;
}

.navLeftMenu>li.active>a,
.navLeftMenu>li.active>a:hover,
.navLeftMenu>li.active>a:focus {
    color: #fff;
    background-color: #48ce7c;
}

.navLeftMenu>li {
    display: block;
    background: #eee;
    border-bottom: solid #dedede 1px;
    height: 35px;
    width: 150px;
    line-height: 25px;
}

.navLeftMenu>li.active:after {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #48ce7c;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -7px;
}

.navLeftMenu>li>a {
    border-radius: 0px;
}