/* app css stylesheet */

.header{
  background-color: grey;
  height: 350px;
  width: 100%;
  border: 2px solid yellow;
  margin:0;
  padding: 5px;
}
.logo{
  background-color: blue;
  height: 60px;
}
.topMenus{
  background-color: green;
  height: 25px;
}
.banner{
  background-color: yellow;
  height: 251px;
}
.contain{
  background-color: grey;
  height: 600px;
  width: 100%;
  border: 2px solid red;
  margin:0;
  padding: 5px;
}
.leftMenus{
  background-color: blue;
  width: 30%;
  height: 586px;
  float: left;
}
.content{
  background-color: green;
  width: 70%;
  float: left;
  height: 586px;
}
.footer{
  background-color: grey;
  border: 2px solid yellow;
  height: 300px;
  width: 100%;
}
